<section
  id="about"
  class="py-20 px-6 bg-gradient-to-r from-[#01191d] to-[#022c2b]"
>
  <div class="container mx-auto">
    <h2 class="text-3xl font-bold text-center mb-2 text-gray-300">
      About <span class="text-outline">Me</span>
    </h2>
    <p class="text-gray-500 text-center mb-12">
      To you my future employer, get to know more about my background and
      experience.
    </p>

    <div
      class="bg-[#022c2b] backdrop-blur-md rounded-2xl p-8 md:p-12 grid grid-cols-1 lg:grid-cols-2 gap-12 border border-white/20"
    >
      <div>
        <h3 class="text-xl font-semibold mb-4 text-white">Who am I?</h3>
        <p class="text-slate-300 mb-4">
          I’m a software developer with a solid foundation in Angular, RxJS,
          Java, and clean design systems. I enjoy solving UI/UX challenges,
          collaborating with cross-functional teams, and creating scalable
          solutions that users love. I'm also continuously learning and
          exploring better ways to write clean, maintainable code.
        </p>
        <p class="text-slate-300">
          When am not coding you can find me watching some football, seeing some
          good movies. I beleive in continous learning and staying updated with
          latest industry trends.
        </p>

        <div class="mt-8 grid grid-cols-2 gap-4 text-gray-300">
          <div>
            <p>Name:</p>
            <p class="font-medium text-white">Amadin Nosa-Idemudia</p>
          </div>
          <div>
            <p>E-mail:</p>
            <p class="font-medium text-white">anosaidemudia&#64;gmail.com</p>
          </div>
          <div>
            <p>Avaliability:</p>
            <p class="font-medium text-white">Full Time/Freelance</p>
          </div>
        </div>
      </div>

      <div>
        <h3 class="text-xl font-semibold mb-4 text-white">My Experience</h3>
        <div class="space-y-6">
          <div
            class="bg-white/5 backdrop-blur-sm rounded-xl p-5 border border-white/10"
          >
            <div class="flex justify-between items-start">
              <div>
                <h4 class="font-semibold text-white">Full Stack Developer</h4>
                <p class="text-teal-400 text-sm">Union Systems Ltd.</p>
              </div>

              <span
                class="px-3 py-1 bg-teal-400/10 text-teal-400 rounded-full text-[10px] sm:text-sm"
                >2018 - 2023</span
              >
            </div>
          </div>

          <div
            class="bg-white/5 backdrop-blur-sm rounded-xl p-5 border border-white/10"
          >
            <div class="flex justify-between items-start">
              <div>
                <h4 class="font-semibold text-white">Frontend Developer</h4>
                <p class="text-teal-400 text-sm">Woodcore Inc.</p>
              </div>

              <span
                class="px-3 py-1 bg-teal-400/10 text-teal-400 rounded-full text-[10px] sm:text-sm"
                >2022 (contract)</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
