<section
  id="home"
  class="relative min-h-screen flex items-center justify-center pt-18 pb-20"
>
  <div
    class="absolute inset-0 bg-gradient-to-t from-teal-950 to-teal-800"
  ></div>
  <div class="absolute inset-0"></div>

  <!-- content -->
  <div
    class="relative z-10 container mx-auto px-6 flex flex-col md:flex-row items-center gap-6"
  >
    <div class="flex-1 text-center md:text-left">
      <h3 class="text-lg font-light capitalize tracking-wide text-teal-500">
        I'm Amadin Nosa-Idemudia
      </h3>
      <div class="text-center md:text-start">
        <h1 class="text-3xl md:text-5xl font-bold text-white mb-6">
          <span class="text-outline pb-1">{{ currentText }}</span>
          <span
            class="inline-block h-7 md:h-14 w-0.5 bg-cyan-300 ml-1 animate-pulse"
          ></span>
        </h1>
      </div>
      <p class="mt-4 text-gray-300 max-w-xl">
        I'm a result-driven software developer with over 5 years of experience
        delivering scalable, accessible, and performance-focused web
        applications across fintech and enterprise domains. I specialise in
        Angular and Java, and I’m passionate about building clean, intuitive
        user interfaces that enhance user experience and drive product success.
      </p>

      <div class="mt-6 flex flex-wrap gap-4 text-sm font-medium text-gray-400">
        <span class="px-4 py-2 bg-white/10 backdrop-blur-md rounded-full"
          >Frontend Development</span
        >
        <span class="px-4 py-2 bg-white/10 backdrop-blur-md rounded-full"
          >Backend Development</span
        >
        <span class="px-4 py-2 bg-white/10 backdrop-blur-md rounded-full"
          >Mobile Development</span
        >
      </div>

      <div
        class="flex text-gray-400 gap-5 mt-8 justify-center md:justify-start"
      >
        <a [href]="linkedIn" target="_blank"
          class="p-3 bg-white/10 rounded-full hover:bg-teal-400 transition-colors"
        >
          <img
            src="./assets/logos/linkedin.svg"
            class="w-6 h-6"
            alt="GitHub"
          />
    </a>
        <a [href]="github" target="_blank"
          class="p-3 bg-white/10 rounded-full hover:bg-teal-400 transition-colors"
        >
          <img
            src="./assets/logos/github.svg"
            class="w-6 h-6"
            alt="GitHub"
          />
      </a>
      </div>

      <div class="mt-8 flex flex-col sm:flex-row gap-4">
        <button
          class="px-6 py-2 cursor-pointer rounded-full text-sm bg-gradient-to-r from-teal-400 to-teal-700 font-light text-white hover:opacity-70 transition-opacity"
        (click)="scrollTo('projects')">
          View My Works
        </button>
        <a href="./assets/files/resume.pdf" download
          class="px-6 py-2 cursor-pointer rounded-full text-sm bg-white/10 backdrop-blur-md font-light text-white hover:opacity-70 transition-opacity"
        >
          Download CV
      </a>
      </div>
    </div>

     <div class="hidden lg:block flex-1">
            <img
                src="./assets/logos/static-assets.svg"
                class="w-full h-full"
                alt=""
              />
    </div>
  </div>
</section>
