/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');




* {
  font-family: "Alan Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.text-outline {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #022c2b;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6; 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: #46edd5 #022c2b;
}